@media screen and (max-width: 912px) {
  html {
    font-size: 14px;
  }
  
  .full-height {
    height: auto;
    min-height: 100vh;
  }
  
  #home {
    flex-direction: column;
  }
}


@media screen and (max-width: 768px) {
    .pgOptn {
        width: 100%;
        max-width: none;
    }

    .contain {
        flex-direction: column;
    }

    .herts, .ieuk, .au {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    .clusters img {
            width: 50px;
        }

    .hold {
            grid-template-columns: 100%;
        }
}
