/* CSS FOR SEVERAL ELEMENTS */
* { 
    padding:0;
    margin:0;
    color:#FFFFFF;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#232F3E;
    font-size: 16px;
    max-width:100%;
    overflow-x:hidden;
}
/* separate section to cover screen viewport */
.full-height { 
    height:100vh;
    margin-left:4.375rem;
    scroll-margin-top:7.5rem;
}
.abt, .skls, .work, .cert {
    text-align:center;
    margin-bottom:4.375rem;
    font-size:3.125rem;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:0 0 15px #a17454;
}
.interests {
    margin-top: 2.1875rem;
    margin-left: 20.9375rem;
}
.inc{
    font-size:1.5625rem;
    font-weight:BOLD;
    color:palevioletred;
}


/* style navigation bar */
.pgOptn { 
    position:fixed;
    top:0;
    right:0;
    max-width: 700px;
    margin-right:0.63rem;
}
ul {
    display:flex;
    flex-wrap:wrap;/* Allow menu items to wrap on smaller screens */
    justify-content:space-between;
    margin:0;
    border-bottom:solid 5px #a17454;
}
li {
    list-style-type:none;
    padding:0.63rem;
}
li a{
    text-decoration:none;
    color:#FFFFFF;
    font-weight:700;
    display: inline-block; /* Ensures transform works */
    transition: transform 0.3s ease;
}
.texxt:hover {
   transform: scale(1.2); /* Scales the element by 1.5 times */
}
.verse {
    margin-left:1.25rem;
    padding:0.63rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.25rem;
    position:fixed;
    text-shadow:0 0 15px #ff5975;
}
.tooltip {
  visibility: hidden;
  width:8rem;
  font-size:0.875rem;
  text-align:center;
  background-color:#ff597559;
  color: #fff;
  border-radius:6px;
  padding:5px;
  margin-left:5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.verse:hover .tooltip {
  visibility: visible;
}
.menu-button { /* show menu button on large screens */
    display:none;
}

/* ONLY FOR MOBILE PHONES */
.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:80%;
    max-width: 250px;
    z-index:1000;
    background-color:#a1745473;
    backdrop-filter:blur(10px);
    box-shadow:0 0 15px white;
    display:none;
    flex-direction:column;
    justify-content:flex-start;
}
.sidebar li{
    width:100%;
}
.sidebar a{
    width:100%;
    display:flex;
    align-items:center;
}


/* CSS FOR THE HOME SECTION */
#home{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    font-weight:600;
}
.home {
    margin-right:10%;
}
.welcome{
    font-size:1.25rem;
}
.name {
    font-size:4.375rem;
    padding-bottom:1.875rem;
    color:palevioletred;
}
.memoji img{
    margin-top:-140px;
    width:26.25rem;
    height:auto;
    /*max-width:420px;*/
}
.hometext  {
    color:#FFFFFF;
    font-weight:500;
}
.career em {
    color:#FFFFFF;
    text-transform:uppercase;
}


/* CSS FOR THE ABOUT ME SECTION */
#about {
    width:90%;
    max-width: 1200px;
    margin:auto;
} 
.mypic {
    float:left;
    width:18.75rem;
    max-width:300px;
    height:auto;
    object-fit:cover;
    margin-right:1.25em;
    padding-left:1.25em;
    aspect-ratio: 2 / 2;
    border-radius:50%;
}
.desMe{
    /*text-align:center;*/
    font-size:1.4375rem;
}


/* CSS FOR THE SKILLS SECTION */
.hold {
    display:grid;
    grid-template-columns:50% 50%;
}
.clusters {
    position: relative;
    margin: auto;
}
.clusters img{
    width:4.375rem;
    height:auto;
    padding:0.625rem;
    /*background-color:#FFFFFF;*/
    border-radius:50%;
    transition: transform 0.3s ease;
}
.clusters img:hover {
    transform: scale(1.5);
}
.ss {
   text-transform:uppercase;
   font-size:1.5625rem;
   font-weight:800;
   padding-bottom:5px; 
   padding-top:2.8125rem;
   color:#e38ba9;
}
.list {
    font-size:1rem;
}


/* CSS FOR THE PROJECT SECTION */
.container{
    display:flex;
    align-items:flex-start;  
}
.ws, .zodiac {
    margin-left:1.5625rem;
    background-color:#232F3E;
    width:35rem;
    border-radius:0.9375rem;
    border-right:#a1745473 solid 2px;
    padding:1.25rem;  
}
.zodiac{
    height:fit-content;
}
.proj_id{
    font-size:1.25rem;
    font-weight:800;
    color:palevioletred;
    padding-left:0.875rem;
}
.proj1 {
    height:auto;
    width:30rem;
    border-radius:0.9375rem;
}
.proj2 {
    height:auto;
    width:30rem;
    border-radius:0.9375rem;
}
.title {
    display: block;
    width:28.13rem;
    padding-top:1rem;
}
.txxxt{
    padding:0.875rem;
}
.icons{
    height:1.5rem;
    background-color:#FFFFFF;
    border-radius:7px;
}
.move{
    padding-left:0.875rem;
}


/* CSS FOR THE CERTIFICATES SECTION */
.contain {
    display:flex;
    align-items:center;
}
.herts, .ieuk, .au {
    width:25rem;
    height:auto;
    text-align:center;
}
.herts img, .ieuk img, .au img {
    display:block;
    margin:auto;
    width:7.5rem;
    object-fit:fill;
    border-radius:10%;
}
.herts p, .ieuk p, .au p {
    padding-top:0.63rem;
    padding-bottom:0.63rem;
    margin-right:1.25rem;
    border-bottom:double #a17454 0.5rem;
    font-size:1.06rem;
    font-weight:900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.award {
    padding-top:1.25rem;
    font-weight:900;
    color:#FFFFFF;
    font-size:1rem;
}


/* CSS FOR THE CONTACTS SECTION */
.gl, .ghl, .ll {
    padding:1rem;
}
#contact {
    margin-top: auto;
    background-color:#a17454;
    text-align:center;
    display:flex;
    justify-content:center;
} 
.logo {
    height:2.5rem;
    transition: transform 0.3s ease;
}
.logo:hover {
   transform:scale(1.6); 
}
.ghl img, .ll img {
    background-color:#FFFFFF;
    border-radius:7px;
}