/* CSS FOR SEVERAL ELEMENTS */
* { 
    padding:0;
    margin:0;
    color:palevioletred;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#e2d4c1;
    /* #e2d4c1; */
}
/* separate section to cover screen viewport */
.full-height { 
    height:100vh;
    margin-left:70px;
    scroll-margin-top:120px;
}
.abt, .skls, .work, .cert {
    text-align:center;
    margin-bottom:70px;
    font-size:50px;
    font-weight:500;  
}


/* style navigation bar */
.pgOptn { 
    position:fixed;
    top:0;
    right:0;
    width:700px;
    margin-right:10px;
}
ul {
    display:flex;
    justify-content:space-between;
    margin:0;
    border-bottom:solid 5px #d0ac7d;
}
li {
    list-style-type:none;
    padding:10px;
}
li a{
    text-decoration:none;
    color:palevioletred;
    font-weight:700;
}
.verse {
    margin-left:20px;
    padding:10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position:fixed;
    text-shadow:0 0 15px #ff5975;
}


/* CSS FOR THE HOME SECTION */
#home{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:100px;
    font-weight:600;
}
.home {
    margin-right:150px;
}
.welcome{
    font-size:20px;
}
.name {
    font-size:70px;
    padding-bottom:45px;
}
.memoji img{
    margin-top:-140px;
    width:420px;
    height:auto;
}
.hometext  {
    color:#69462d;
    font-weight:500;
}
.career em {
    color:#69462d;
    text-transform:uppercase;
}


/* CSS FOR THE ABOUT ME SECTION */
#about {
    width:80%;
} 
.mypic {
    float:left;
    width:290px;
    object-fit:fill;
    margin-right:20px;
    padding-left:20px;
    aspect-ratio: 2 / 2;
    border-radius:50%;
}
#about p{
    text-align:center;
    font-size:20px;
}


/* CSS FOR THE SKILLS SECTION */
.clusters img{
    width:100px;
    height:auto;
}


/* CSS FOR THE PROJECT SECTION */
.container {
    background-color:white;
    width:fit-content;
    border-radius: 15px;
}
.proj1 {
    height:260px;
    width:auto;
    border-radius:15px;
}
.title {
    text-align:center;
}


/* CSS FOR THE CERTIFICATES SECTION */
.contain {
    display:flex;
    align-items:center;
}
.herts, .ieuk, .au {
    width:400px;
    height:auto;
    text-align:center;
}
.herts img, .ieuk img, .au img {
    display:block;
    margin:auto;
    width:120px;
    object-fit:fill;
    border-radius:10%;
}
.herts p, .ieuk p, .au p {
    padding-top:10px;
    padding-bottom:5px;
    margin-right:20px;
    border-bottom:solid #69462d 3px;
    font-size:17px;
    font-weight:900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.award {
    padding-top:20px;
    font-weight:900;
    color:#69462d;
}


/* CSS FOR THE CONTACTS SECTION */
.yay {
    width:fit-content;
    height:auto;
    border-bottom:solid 3px black;
    margin-bottom:70px;
    font-weight:600;
} 
.logo {
   width:70px;
   height:auto;
   margin:30px;
}
